body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #fafafa;
    height: 90px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 3px;
    height: 100px;
    width: 60%;
}

.logo img {
    max-height: 80px;
    margin-top: 5px;
}

.medias-sociais ul li {
    margin-left: 10px;
    display: inline-block;
    list-style: none;
    margin-top: -5px;
}

.medias-sociais {
    padding: 2%;
    width: 30%;
    float: right;
}

.medias-sociais img {
    max-width: 40px;
}

.header-1 {
    margin-left: 15px;
}

.header-2  {
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}

.menu-urls {
    background-color: #1e2831;
    height: 50px;
    border-bottom: 3px solid #1e283150;
    margin-top: -16px;
}
.menu ul li {
    display: inline-block;
    color: #f1eee8;
    margin-left: 15px;
    height: 28px;
}

.menu ul li:hover {
    border-bottom: 3px solid #e9da56;
}

.menu ul li a:hover {
    color: #e9da56;
}

.menu ul li a {
    color: #f1eee8;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.menu {
    width: 57%;
    float: left;
}

.busca {
    text-align: center;
    width: 42%;
    float: right;
}

.busca input {
    background-image: url('../img/search-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 15px;
    margin-top: 8px;
    padding: 5px;
    width: 190px;
    border: 1px solid #1e283150;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    height: 25px;
    font-size: 0px;
    width: 15px;
    z-index: 9;
    border: none;
    top: 40%;
    position: absolute;
    background-color: transparent;
    background-image: url('../img/invert.png');
    left: 10%;
}

button.slick-next {
    height: 25px;
    font-size: 0px;
    width: 15px;
    z-index: 9;
    border: none;
    top: 40%;
    position: absolute;
    background-color: transparent;
    background-image: url('../img/m_white-arrow-icon-png-28_compress.png');
    right: 10%;
}

.slick-list {
    width: 100%!important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 4px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 340px;
}

li.slick-active button {
    background: #e9da56;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.slider-principal img {
    max-height: 400px;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #818181;
}

.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}

.col-3 {
    padding-right: 27px;
    padding-left: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.bloco-texto {
    float: left;
    margin-top: 2em;
}

h3 {
    font-weight: normal!important;
}

.col-4 {
    padding-right: 27px;
    padding-left: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.col-4 img {
    max-height: 85px;
    margin-top: 5px;
}

.bloco-text-2 {
    float: left;
    margin-top: 10px;
}

h2 {
    color: #9a9a9a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
/*/
.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
/*/
.medias-sociais-2 ul li {
    display: inline-block;
    list-style: none;
    margin-top: -5%;
}

.medias-sociais-2 {
    padding-left: 0%;
}

.medias-sociais-2 img {
    max-width: 35px;
}

.footer {
    background-color: #121a20;
    height: 100px;
}

.usp {
    float: right;
    margin-top: 25px;
    margin-right: 5%;
}

.logo-2 {
    float: left;
    padding: 3px;
    margin-right: 40px;
}

.logo-2 img {
    max-height: 85px;
    margin-top: 3px;
    margin-left: 75%;
}


.usp img {
    max-height: 50px;
}

.contato {
    width: 100%;
    max-width: 700px;
    margin-left: 125px;
}

.form {
    display: flex;
    flex-direction: column;
}
.field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

label {
    margin-left: 25px;
    margin-top: -30px;
}

textarea {
    height: 150px;
}